<div mat-dialog-content class="dialog-container">
    <form class="container" (ngSubmit)="add(recipe)" #recipeForm="ngForm">
      <mat-form-field>
        <input
          matInput
          autocomplete="off"
          placeholder="Kategoria" 
          [(ngModel)]="recipe.category"
          placeholder="Reseptin kategoria"
          name="category"
          required
          #category="ngModel">
        <mat-error *ngIf="!category.valid">Anna resepeptin kategoria</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input  
          matInput
          autocomplete="off"
          placeholder="Reseptin nimi"
          required
          [(ngModel)]="recipe.name" 
          name="name"
          #name="ngModel">
        <mat-error *ngIf="!name.valid">Anna resepeptin nimi</mat-error>
      </mat-form-field>
      <div class="button-container">
        <button type="submit" [disabled]="!recipeForm.valid" mat-button color="primary">Lisää</button>
        <button type="button" mat-button color="accent" (click)="close()">Sulje</button>
      </div>
    </form>
  </div>
    