@import "../../../colors.scss";
.nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  z-index: 1;
  max-width: 600px;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
  justify-content: center;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.login-card {
  width: 300px;
}
.content {
  display: flex;
  flex-direction: column;
}
.mat-card-title{
  text-align: center;
  font-size: 20px;
  color: $primary;
}
button {
  margin-bottom: 5px;
}
.login-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.facebook {
  color: white;
  background-color: #3B5998
}
.google {
  color: white;
  background-color: #FFA500
}
.mat-icon {
  margin-right: 50px;
}