<mat-toolbar class="nav-bar" color="primary">Ostokset</mat-toolbar>
<div class="container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/images/logo.png" alt="App logo">
    <mat-card-content class="content">
      <button mat-raised-button class="login-button facebook" (click)="loginWithFacebook()"><mat-icon svgIcon="facebook"></mat-icon>Kirjaudu Facebookilla</button>
      <button mat-raised-button class="login-button google" (click)="loginWithGoogle()"><mat-icon svgIcon="google"></mat-icon>Kirjaudu Googlella</button>
    </mat-card-content>
  </mat-card>
</div>
