<app-nav-bar 
  [showBack]="true" 
  [previousRoute]="'home/recipes'" 
  [title]="recipe.name" 
  [rightText]="'Lisää uusi tuote'"
  [rightIcon]="'add'"
  (rightClicked)="openAddItem()">
</app-nav-bar>

<div class="container">
  <!-- Fab  -->
  <app-fab-button 
    [secondTitle]="'Muokkaa ohjetta'"
    [secondIcon]="'mode_edit'"
    (secondClicked)="openAddInstruction(recipe)"
    [thirdTitle]="'Lisää ostoslistalle'"
    [thirdIcon]="'add'">
  </app-fab-button>
  <!-- Search -->
  <mat-card class="search-container">
    <mat-form-field [floatLabel]="'never'" class="search-field">
      <input type="text" 
        #input 
        placeholder="Lisää raaka-aineita valitsemalla..." 
        aria-label="List" 
        matInput 
        (keyup)="filter(filterString)" 
        [(ngModel)]="filterString" 
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option 
          *ngFor="let item of filteredItems" 
          (click)="openAddRecipeItem(item)">
          {{item.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card>
  <!-- List -->
  <div class="empty-list-container" *ngIf="viewRecipeItems.length === 0">
    <h4 class="mat-subheading-1">Reseptiin ei ole vielä lisätty raaka-aineita</h4>
  </div>
  <mat-list class="list-container" dense>
    <div *ngFor="let recipe of viewRecipeItems">
      <h3 mat-subheader class="header" *ngIf="recipe.group !== ''">{{recipe.group}}</h3>
      <h3 mat-subheader class="header" *ngIf="recipe.group === ''">Raaka-aineet</h3>
      <mat-list-item 
        class="list-item" 
        *ngFor="let recipeItem of recipe.items" 
        appLongPress
        (longPress)="openRemoveListItem(recipeItem)"
        (click)="openEditRecipeItem(recipeItem)">
        {{recipeItem.item.name}}
        <div class="empty-filler"></div>
        <div class="badge">{{recipeItem.quantity}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
  <div class="instructions-container">
    <h3 class="header header-instructions mat-subheading-1">Valmistusohjeet</h3>
    <div class="mat-body-1 instructions">{{recipe.instructions}}</div>
  </div>
</div>

