@import "../../../../colors.scss";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.search-container {
  margin: 15px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  min-height: 0px;
}
.search-field {
  width: 100%;
}
.list-container {
  margin-top: 8px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  outline: none;
}
.list-item {
  height: 30px !important;
  padding-left: 15px;
  font-size: 14px !important;
  cursor: pointer;
}
.list-item:hover { 
  background-color: rgb(245, 245, 245);
}
.empty-list-container {
  margin: auto;
  margin-top: 15px;
  color: darkgray;
}
.header {
  font-size: 16px !important;
  color: $primary;
  border-left: 5px solid $primary !important;
}
.header:hover { 
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}
.header-icon {
  font-size: 16px;
  vertical-align: middle;
}
.empty-filler {
  flex: 1 1;
}
.badge {
  margin-right: 5px;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
  background: $secondary;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
}
.instructions-container {
  margin-left: 15px;
  margin-right: 15px;
}
.header-instructions {
  height: 40px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.instructions {
  margin-left: 30px;
  margin-right: 30px;
  white-space: pre-line;  
}
