<form class="container" (ngSubmit)="onDelete()" #deleteUserForm="ngForm">
  
  <mat-checkbox 
    required 
    name="delete"
    #delete="ngModel"
    [(ngModel)]="deleteUser.delete">
    Poistatko kaikki käyttäjätiedot?
  </mat-checkbox>
  
  <div class="button-container">
    <button type="submit" [disabled]="!deleteUserForm.valid" mat-button color="warn">Poista</button>
    <button type="button" mat-button color="accent" (click)="close()">Sulje</button>
  </div>
  
</form>