<form class="container" (ngSubmit)="onDelete()" #deleteRecipeForm="ngForm">
    <mat-checkbox 
      required 
      name="delete"
      #delete="ngModel"
      [(ngModel)]="deleteRecipe.delete">
      Poista resepti
    </mat-checkbox>
    
    <div class="button-container">
      <button type="submit" [disabled]="!deleteRecipeForm.valid" mat-button color="primary">Poista</button>
      <button type="button" mat-button color="accent" (click)="close()">Sulje</button>
    </div>
    
  </form>