<form class="container" (ngSubmit)="onApprove()" #usageTermsForm="ngForm">
  
  <div class="mat-caption">
    <h3 class="mat-subheading-1">Käyttöehdot</h3>
    Käyttäjästä tallennetaan palveluun seuraavat tiedot:<br>
    <ul>
      <li>Nimi</li>
      <li>Sähköposti</li>
      <li>Profiilikuva</li>
      <li>Ostoslistat</li>
      <li>Reseptit</li>
      <li>Tuotteet</li>
    </ul>
    Käyttäjä pystyy <strong>poistamaan</strong>  milloin tahansa kaikki itseään koskevat tiedot<br><br>
    Tietoja <strong>ei</strong> tulla käyttämään koskaan mihinkään muuhun käyttötarkoitukseen kuin käyttäjän <strong>omaan</strong> käyttöön<br><br>
  </div>
  <mat-checkbox 
    required 
    name="terms"
    #terms="ngModel"
    [(ngModel)]="usageTerms">
    Hyväksytkö käyttöehdot?
  </mat-checkbox>
  
  <div class="button-container">
    <button type="submit" [disabled]="!usageTermsForm.valid" mat-button color="primary">Hyväksy</button>
    <button type="button" mat-button color="accent" (click)="decline()">En hyväksy</button>
  </div>
  
</form>