<div mat-dialog-content class="dialog-container">
  <h4 class="mat-subheading-1">
    {{user.displayName}}
  </h4>
  <div class="button-container" *ngIf="showButtons">
    <button type="button" mat-button color="accent" (click)="close()" *ngIf="!userBlocked">Estä</button>
    <button type="button" mat-button color="primary" (click)="close()" *ngIf="userBlocked">Salli</button>
    <button type="button" mat-button color="accent" (click)="close()">Sulje</button>
  </div>
</div>
