.dialog-container {
  overflow-y: hidden;
  overflow-x: hidden;
}
.button-container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}