@import "../../../colors.scss";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.list-container {
  margin: 15px;
  outline: none;
}
.header {
  font-size: 16px !important;
  color: $primary;
  border-left: 5px solid $primary !important;
  display: flex;
  justify-content: space-between;
}
.header:hover { 
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}
.list-item {
  margin-left: 15px;
  height: 30px !important;
  font-size: 14px !important;
  display: flex;
}
.list-item:hover { 
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}
.empty-list-container {
  margin: auto;
  margin-top: 15px;
  color: darkgray;
}
