<app-nav-bar 
  [title]="'Reseptit'" 
  [rightText]="'Kirjaudu ulos'"
  [rightIcon]="'exit_to_app'"
  (rightClicked)="logout()">
</app-nav-bar>
<div class="container">
  <app-fab-button 
    (secondClicked)="openAddRecipe()"
    [secondTitle]="'Lisää uusi resepti'"
    [secondIcon]="'add'">
  </app-fab-button>
  <mat-list class="list-container" dense>
    <div *ngFor="let category of viewRecipes">
      <h3 mat-subheader class="header">{{category.name}}</h3>
      <mat-list-item 
        appLongPress
        *ngFor="let recipe of category.recipes" 
        class="list-item" 
        (longPress)="openRemoveRecipe(recipe)"
        (click)="navigateToRecipe(recipe)">
        {{recipe.name}}
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
  <div class="empty-list-container" *ngIf="viewRecipes.length < 1">
    <h4 class="mat-subheading-1">Sinulla ei ole yhtään reseptia lisättynä</h4>
  </div>
</div>