.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.interactions-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-left: 20px;
  margin-right: 20px;
}
button { 
  margin-bottom: 10px;
}
