<app-nav-bar 
  [title]="'Käyttäjä'" 
  [rightText]="'Kirjaudu ulos'" 
  [rightIcon]="'exit_to_app'"
  (rightClicked)="logout()">
</app-nav-bar>
<div class="container">
  <div class="profile-container">
    <img [src]="user.profilePicture" class="avatar">
    <h1 class="mat-headline">{{user.displayName}}</h1>
    <h3 class="mat-subheading-1">{{user.email}}</h3>
  </div>
  <div class="interactions-container">
    <button mat-raised-button color="warn" (click)="openRemoveUser(user)">Poista käyttäjätiedot</button>
    <button mat-raised-button color="primary" (click)="openTermsOfUse(user)">Näytä käyttöehdot</button>
  </div>
</div>