<app-nav-bar 
  [showBack]="true" 
  [previousRoute]="'home/lists'" 
  [title]="list.name" 
  [rightText]="'Lisää uusi tuote'"
  [rightIcon]="'add'"
  (rightClicked)="openAddItemDialog()">
</app-nav-bar>

<div class="container" appActivation (activation)="onActivationChanged($event)">
  <!-- Fab  -->
  <app-fab-button 
    (firstClicked)="openEditListDialog()"
    [firstTitle]="'Muokkaa ostoslistaa'"
    [firstIcon]="'mode_edit'"
    (secondClicked)="removeChecked()"
    [secondTitle]="'Poista valitut'"
    [secondIcon]="'done'">
  </app-fab-button>
  <!-- Search -->
  <mat-card class="search-container">
    <mat-form-field [floatLabel]="'never'" class="search-field">
      <input type="text" #input placeholder="Lisää tuotteita valitsemalla..." aria-label="List" matInput (keyup)="filterItems(filter)" [(ngModel)]="filter" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let item of filteredItems" (click)="addListItem(item)">
          {{ item.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card>
  <!-- Shared -->
  <div class="shared-container" *ngIf="listShares.length > 0">
    <h3 class="mat-subheading-1 shared" (click)="sharedUsersClosed = !sharedUsersClosed">
      <span *ngIf="sharedUsersClosed">Näytä käyttäjät</span>
      <span *ngIf="!sharedUsersClosed">Sulje</span>
      &ensp;
      <i *ngIf="!sharedUsersClosed" class="material-icons header-icon">expand_less</i>
      <i *ngIf="sharedUsersClosed" class="material-icons header-icon">expand_more</i>
    </h3>
    <ng-container *ngIf="!sharedUsersClosed">
      <img [src]="share.user.profilePicture" class="avatar" [class.blocked]="share.blocked" *ngFor="let share of listShares" (click)="openUserDetailsDialog(share)">
    </ng-container>
  </div>
  <!-- List -->
  <div class="empty-list-container" *ngIf="viewListItems.length === 0">
    <h4 class="mat-subheading-1">Sinulla ei ole yhtään tuotetta lisättynä listalle</h4>
  </div>  
  <mat-selection-list class="list-container" dense>
    <div *ngFor="let category of viewListItems">
      <h3 mat-subheader class="header" (click)="category.closed = !category.closed" *ngIf="!category.closed">{{category.name}}<i class="material-icons header-icon">remove</i></h3>
      <h3 mat-subheader class="header" (click)="category.closed = !category.closed" *ngIf="category.closed">{{category.name}}<i class="material-icons header-icon">add</i></h3>
      <ng-container *ngIf="!category.closed">
        <mat-list-option 
          appLongPress 
          (click)="toggle(listItem)"
          [selected]="listItem.checked"
          (longPress)="openEditListItemDialog(listItem)"
          class="list-item"
          *ngFor="let listItem of category.items">
          <div class="row" [class.selected]="listItem.checked">  
            {{listItem.item.name}}
            <div class="empty-filler"></div>
            <div class="badge" [class.selected]="listItem.checked" *ngIf="listItem.quantity > 1">{{listItem.quantity}} kpl</div>
            <div class="badge priority-high" [class.selected]="listItem.checked" *ngIf="listItem.priority === 'high'">Tärkeä</div>
            <div class="badge priority-low" [class.selected]="listItem.checked" *ngIf="listItem.priority === 'low'">Ei tärkeä</div>
          </div>
        </mat-list-option>
      </ng-container>
      <mat-divider></mat-divider>
    </div>
  </mat-selection-list>
</div>

