@import "../../../../colors.scss";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.search-container {
  margin: 15px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  min-height: 0px;
}
.search-field {
  width: 100%;
}
.blocked {
  border: solid 2px red !important;
}
.list-container {
  margin-top: 8px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  outline: none;
}
.shared {
  margin-top: 0px;
  margin-bottom: 0px;
}
.header {
  font-size: 16px !important;
  color: $primary;
  border-left: 5px solid $primary !important;
  display: flex;
  justify-content: space-between;
}
.shared-container {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 30px;
}
.avatar {
  width: 34px;
  height: 34px;
  border-radius: 25px;
  margin-right: 5px;
  padding: 2px;
  border: solid 2px $primary;
}
.empty-list-container {
  margin: auto;
  margin-top: 15px;
  color: darkgray;
}
.shared{
  margin: 0px !important;
  font-size: 14px !important;
  color: $primary;
  align-self: flex-end;
}
.header:hover { 
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}
.header-icon {
  font-size: 16px;
  vertical-align: middle;
}
.list-item {
  padding-left: 15px;
  font-size: 14px !important;
}
.row {
  display: flex;
  flex-direction: row;
}
.empty-filler {
  flex: 1 1;
}
.badge {
  margin-right: 5px;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
  background: $secondary;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
}
.badge.selected {
  background: darkgrey;
}
.priority-high {
  background: $secondary;
}
.priority-low {
  background: $primary;
}
.mat-option {
  font-size: 14px;
  color: $primary;
}
.row.selected {
  color: darkgray;
  text-decoration: line-through;
}
.mat-option {
  max-height: 30px;
}
