<form class="container" (ngSubmit)="add(sharedList)" #sharedListForm="ngForm">
  <mat-form-field>
    <input  matInput 
      placeholder="Syötä kutsuavain"
      autocomplete="off"
      required
      [(ngModel)]="sharedList.friendCode" 
      name="friendCode"
      #friendCode="ngModel">
    <mat-error *ngIf="!friendCode.valid">Kutsutunnus pakollinen</mat-error>
  </mat-form-field>
  
  <div class="button-container">
    <button type="submit" [disabled]="!sharedListForm.valid" mat-button color="primary">Lisää</button>
    <button type="button" mat-button color="accent" (click)="close()">Sulje</button>
  </div>
  
</form>