@import "../../../colors.scss";

.container {
  position: fixed;
  margin: auto;
  padding-left: 520px;
  bottom: 70px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
@media only screen and (max-width: 600px) {
  .container {
    padding-left: 0;
    right: 25px;
    bottom: 65px;
  }
}