<mat-list class="list-container">
  <mat-list-item class="list-item" *ngIf="data.firstTitle" (click)="buttonClicked(1)">
    <mat-icon class="mat-icon">{{data.firstIcon}}</mat-icon>
    {{data.firstTitle}} 
  </mat-list-item>
  <mat-list-item class="list-item" *ngIf="data.secondTitle" (click)="buttonClicked(2)"> 
    <mat-icon class="mat-icon">{{data.secondIcon}}</mat-icon>
    {{data.secondTitle}} 
  </mat-list-item>
  <mat-list-item class="list-item" *ngIf="data.thirdTitle" (click)="buttonClicked(3)"> 
    <mat-icon class="mat-icon">{{data.thirdIcon}}</mat-icon>
    {{data.thirdTitle}} 
  </mat-list-item>
  <mat-list-item class="list-item" *ngIf="data.fourthTitle" (click)="buttonClicked(4)"> 
    <mat-icon class="mat-icon">{{data.fourthIcon}}</mat-icon>
    {{data.fourthTitle}} 
  </mat-list-item>
  <mat-list-item class="list-item close" (click)="close()"> 
    <mat-icon class="mat-icon">close</mat-icon>
    Sulje
  </mat-list-item>
</mat-list> 