@import "../../../colors.scss";

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-item {
  color: $primary;
}
.mat-icon {
  margin-right: 15px;
}
.list-item:hover { 
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}
.close {
  color: red !important;
}
