<div mat-dialog-content class="dialog-container">
  <form class="container" (ngSubmit)="add(category)" #categoryForm="ngForm">
    <mat-form-field>
      <input 
        matInput 
        autocomplete="off"
        placeholder="Kategorian nimi"
        required
        [(ngModel)]="category.name" 
        name="name"
        #name="ngModel">
      <mat-error *ngIf="!name.valid">Anna kategorian nimi</mat-error>
    </mat-form-field>
    <div class="button-container">
      <button type="submit" [disabled]="!categoryForm.valid" mat-button color="primary">Lisää</button>
      <button type="button" mat-button color="accent" (click)="close()">Sulje</button>
    </div>
  </form>
</div>
    