// for mobile phone - width less than 600px
@media only screen and (max-width: 600px) {
  .container {

  }
}
// for computers - bigger than 600px
@media only screen and (min-width: 600px) {
  .container {
    margin: auto;
  }
}
.container {
  height: 100%;
  max-width: 600px;
  user-select: none;
}