@import "../../../colors.scss";

.nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  max-width: 600px;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
}
.nav-button {
  display: flex;
  flex: 1 1 auto;
  flex-basis: 0;
  margin: 0;
}
.nav-title {
  text-align: center;
  flex: 1 1 auto;
  flex-basis: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.left {
  padding-left: 0px;
  display: flex;
  justify-content: flex-start;
}
.right {
  padding-right: 0px;
  display: flex;
  justify-content: flex-end;
}
.filler {
  flex: 1 1 auto;
}