<mat-toolbar class="nav-bar" color="primary">
  <div class="nav-button">
    <button class="left" *ngIf="showBack" (click)="back()" mat-button>
      <mat-icon>chevron_left</mat-icon>
      Takaisin
    </button>
    <span class="filler"></span>
  </div>
  <div class="nav-title">
    {{title}}
  </div>
  <div class="nav-button">
    <ng-container *ngIf="rightText">
      <span class="filler"></span>
      <button class="right" (click)="onRightClick()" mat-button>
        <mat-icon *ngIf="rightIcon">{{rightIcon}}</mat-icon>
        {{rightText}}
      </button>
    </ng-container>
  </div>
</mat-toolbar>
