<div mat-dialog-content class="dialog-container">
  <form class="container" (ngSubmit)="add(instructions)" #instructionItemForm="ngForm">
    <mat-form-field>
      <textarea  
        matInput
        placeholder="Valmistusohjeet:"
        required
        matTextareaAutosize 
        matAutosizeMinRows="4" 
        matAutosizeMaxRows="8"
        [(ngModel)]="instructions" 
        name="instruction"
        #instruction="ngModel">
      </textarea>
      <mat-error *ngIf="!instruction.valid">Syötä tuotteen ohjeet</mat-error>
    </mat-form-field>
    <div class="button-container">
      <button type="submit" [disabled]="!instructionItemForm.valid" mat-button color="primary">Lisää</button>
      <button type="button" mat-button color="accent" (click)="close()">Sulje</button>
    </div>
  </form>
</div>
