<app-nav-bar 
  [title]="'Tuotteet'" 
  [rightText]="'Kirjaudu ulos'" 
  [rightIcon]="'exit_to_app'"
  (rightClicked)="logout()">
</app-nav-bar>
<div class="container">
  <app-fab-button 
    (firstClicked)="openAddCategory()" 
    [firstTitle]="'Lisää kategoria'"
    [firstIcon]="'add'"
    (secondClicked)="openAddItem()"
    [secondTitle]="'Lisää tuote'"
    [secondIcon]="'add'">
  </app-fab-button>
  <mat-card class="search-container">
    <mat-form-field [floatLabel]="'never'" class="search-field">
      <input (keyup)="filterItems($event)" matInput placeholder="Suodata...">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-card>
  <!-- Close -->
  <div class="close-container">
    <h3 class="mat-subheading-1 close" (click)="closeTabs()">
      <span *ngIf="!tabsClosed">Sulje välilehdet</span>&ensp;
      <span *ngIf="tabsClosed">Avaa välilehdet</span>&ensp;
      <i *ngIf="!tabsClosed" class="material-icons close-icon">expand_less</i>
      <i *ngIf="tabsClosed" class="material-icons close-icon">expand_more</i>
    </h3>
  </div>
  <mat-list class="list-container" dense>
    <div *ngFor="let category of items">
      <h3 mat-subheader class="header" [class.editable]="category.restricted" (click)="category.closed = !category.closed" *ngIf="!category.closed">{{category.name}}<i class="material-icons header-icon">remove</i></h3>
      <h3 mat-subheader class="header" [class.editable]="category.restricted" (click)="category.closed = !category.closed" *ngIf="category.closed">{{category.name}}<i class="material-icons header-icon">add</i></h3>      
      <ng-container *ngIf="!category.closed">
        <ng-container *ngFor="let item of category.items">
          <mat-list-item class="list-item editable" *ngIf="item.restricted" (click)="editItem(item)">
            {{item.name}}
            <span class="filler"></span>
            <i class="material-icons edit-icon">mode_edit</i></mat-list-item>
          <mat-list-item class="list-item" *ngIf="!item.restricted">{{item.name}}</mat-list-item>
        </ng-container>
      </ng-container>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</div>
