@import "../../../colors.scss";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.search-container {
  margin: 15px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
}
.search-field {
  width: 100%;
}
.list-container {
  margin-top: 8px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  outline: none;
}
.header {
  font-size: 16px !important;
  color: $primary;
  border-left: 5px solid $primary !important;
  display: flex;
  justify-content: space-between;
}
.header:hover { 
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}
.header-icon {
  font-size: 16px;
}
.list-item {
  margin-left: 15px;
  height: 30px !important;
  font-size: 14px !important;
  display: flex;
}
.list-item:hover { 
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}
.editable {
  border-left: 5px solid $secondary !important;
}
.edit-icon {
  color: $secondary;
  font-size: 16px;
}
.filler {
  flex: 1 1 auto;
}
.close-container {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
.close{
  margin: 0px !important;
  color: $primary;
  font-size: 14px !important;
  align-self: flex-end;
}
.close-icon {
  font-size: 16px;
  vertical-align: middle;
}