@import "../../../colors.scss";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.search-container {
  margin: 15px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
}
.search-field {
  width: 100%;
}
.list-container {
  margin: 15px;
}
.empty-list-container {
  margin: auto;
  margin-top: 15px;
  color: darkgray;
}
.header {
  font-size: 16px !important;
  color: $primary;
  border-left: 5px solid $primary !important;
}
.list-item {
  height: 50px !important;
  padding-left: 15px;
  font-size: 14px !important;
  cursor: pointer;
}
.list-item:hover { 
  background-color: rgb(245, 245, 245);
}
.code {
  padding-right: 20px;
  color: rgb(138, 138, 138);
}