<app-nav-bar 
  [title]="'Ostoslistat'" 
  [rightText]="'Kirjaudu ulos'" 
  [rightIcon]="'exit_to_app'"
  (rightClicked)="logout()">
</app-nav-bar>
<div class="container">
  <app-fab-button 
    (firstClicked)="openAddList()" 
    [firstTitle]="'Lisää ostoslista'"
    [firstIcon]="'add_shopping_cart'"
    (secondClicked)="openAddSharedList()"
    [secondTitle]="'Lisää vieraslista'"
    [secondIcon]="'share'">
  </app-fab-button>
  <mat-list class="list-container" *ngIf="userLists.length > 0 || sharedLists.length > 0" dense>
    <h3 mat-subheader class="header" *ngIf="userLists.length > 0">Omat listat</h3>
    <mat-list-item *ngFor="let list of userLists" class="list-item" (click)="navigateToList(list)" appLongPress (longPress)="openRemoveList(list, true)">
      <img matListAvatar [src]="list.owner.profilePicture">
      <h3 matLine>{{list.name}}</h3>
      <p matLine>{{list.description}}</p>
      <p class="code mat-body-2">{{list.friendCode}}</p>
    </mat-list-item>
    <h3 mat-subheader class="header" *ngIf="sharedLists.length > 0">Lisätyt listat</h3>
    <mat-list-item *ngFor="let list of sharedLists" class="list-item" (click)="navigateToList(list)" dense appLongPress (longPress)="openRemoveList(list, false)">
      <img matListAvatar [src]="list.owner.profilePicture">
      <h3 matLine>{{list.name}}</h3>
      <p matLine>{{list.description}}</p>
    </mat-list-item>
  </mat-list>
  <div class="empty-list-container" *ngIf="userLists.length < 1 && sharedLists.length < 1">
    <h4 class="mat-subheading-1">Sinulla ei ole vielä yhtään ostoslistaa lisättynä</h4>
  </div>
</div>
