@import "../../../colors.scss";

.container {
  position: fixed;
  color: darkgrey;
  border-top: 2px solid whitesmoke;
  background-color: white !important;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  margin: auto;
  z-index: 2;
}
.selected {
  color: $primary;
  background-color: whitesmoke !important;
  padding: 8px;
  border-radius: 25px;
}
