<mat-toolbar class="container">
  <button mat-icon-button (click)="firstClicked.emit(true)">
    <mat-icon [class.selected]="active === 'items'" aria-label="Tuotteet">playlist_add</mat-icon>
  </button>
  <button mat-icon-button (click)="secondClicked.emit(true)">
    <mat-icon [class.selected]="active === 'lists'" aria-label="Listat">shopping_cart</mat-icon>
  </button>
  <button mat-icon-button (click)="thirdClicked.emit(true)">
    <mat-icon [class.selected]="active === 'recipes'" aria-label="Reseptit">receipt</mat-icon>
  </button>
  <button mat-icon-button (click)="fourthClicked.emit(true)">
    <mat-icon [class.selected]="active === 'user'" aria-label="Käyttäjä">face</mat-icon>
  </button>
</mat-toolbar>