<div mat-dialog-content class="dialog-container">
  <form class="container" (ngSubmit)="add(recipeItem)" #recipeItemForm="ngForm">
    <mat-form-field>
      <input
        matInput
        autocomplete="off"
        placeholder="Ryhmä" 
        [(ngModel)]="recipeItem.group"
        placeholder="Tuotteen ryhmä (ei pakollinen)"
        name="group"
        #group="ngModel">
    </mat-form-field>
    <mat-form-field>
      <input  
        matInput
        autocomplete="off"
        placeholder="Tuotteen annostelu"
        required
        [(ngModel)]="recipeItem.quantity" 
        name="quantity"
        #quantity="ngModel">
      <mat-error *ngIf="!quantity.valid">Syötä tuotteen määrä</mat-error>
    </mat-form-field>
    <div class="button-container">
      <button type="submit" [disabled]="!recipeItemForm.valid" mat-button color="primary">Lisää</button>
      <button type="button" mat-button color="accent" (click)="close()">Sulje</button>
    </div>
  </form>
</div>
    