<div mat-dialog-content class="dialog-container">
  <form class="container" (ngSubmit)="edit(item)" #itemForm="ngForm">
    <mat-form-field>
      <mat-select 
        placeholder="Kategoria" 
        [(ngModel)]="item.category"
        name="category"
        required
        #category="ngModel">
        <mat-option *ngFor="let category of categories" [value]="category._id">
          {{ category.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!category.valid">Anna tuotteen kategoria</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input  
        matInput
        autocomplete="off"
        placeholder="Tuotteen nimi"
        required
        [(ngModel)]="item.name" 
        name="name"
        #name="ngModel">
      <mat-error *ngIf="!name.valid">Anna tuotteen nimi</mat-error>
    </mat-form-field>
    <div class="button-container">
      <button type="submit" [disabled]="!itemForm.valid" mat-button color="primary">Muokkaa</button>
      <button type="button" mat-button color="warn" (click)="remove(item)">Poista</button>
      <button type="button" mat-button color="accent" (click)="close()">Sulje</button>
    </div>
  </form>
</div>
  