<div mat-dialog-content class="dialog-container">
  <form class="container" (ngSubmit)="edit(list)" #listForm="ngForm">
    <mat-form-field>
      <input  matInput 
        placeholder="Listan nimi"
        autocomplete="off"
        required
        [(ngModel)]="list.name" 
        name="name"
        #name="ngModel">
      <mat-error *ngIf="!name.valid">Anna listan nimi</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea 
        matInput
        autocomplete="off"
        placeholder="Listan kuvaus" 
        [(ngModel)]="list.description" 
        name="description" 
        #description="ngModel"
        matTextareaAutosize 
        matAutosizeMinRows="1"
        matAutosizeMaxRows="2">
      </textarea>
    </mat-form-field>
    <div class="button-container">
      <button type="submit" [disabled]="!listForm.valid" mat-button color="primary">Muokkaa</button>
      <button type="button" mat-button color="accent" (click)="close()">Sulje</button>
    </div>
  </form>
</div>
      