<form class="container" (ngSubmit)="onDelete()" #deleteListForm="ngForm">
  <mat-checkbox 
    required 
    name="delete"
    #delete="ngModel"
    [(ngModel)]="deleteList.delete">
    Poista raaka-aine
  </mat-checkbox>
  
  <div class="button-container">
    <button type="submit" [disabled]="!deleteListForm.valid" mat-button color="primary">Poista</button>
    <button type="button" mat-button color="accent" (click)="close()">Sulje</button>
  </div>
  
</form>