.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}
.button-container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.radio-container {
  display: flex;
  justify-content: space-evenly;
}
.header {
  padding-top: 5px;
}
.mat-radio-button {
  font-size: 12px;
} 