  <form (ngSubmit)="edit(listItem)" #listItemForm="ngForm" class="container">
    <h1 class="mat-title">{{listItem.item.name}}</h1>
    <h3 class="mat-subheading-1 header">Tärkeys:</h3>
    <mat-radio-group class="radio-container"
      required
      [(ngModel)]="listItem.priority" 
      name="priority"
      #priority="ngModel">
      <mat-radio-button [value]="'low'">Alhainen</mat-radio-button>
      <mat-radio-button [value]="'medium'">Normaali</mat-radio-button>
      <mat-radio-button [value]="'high'">Tärkeä</mat-radio-button>
    </mat-radio-group>
    <h3 class="mat-subheading-1 header">Lukumäärä:</h3>
    <mat-slider
      [max]="10"
      [min]="1"
      [step]="1"
      [thumbLabel]="true"
      [(ngModel)]="listItem.quantity" 
      name="quantity"
      #quantity="ngModel">
    </mat-slider>
    <div class="button-container">
      <button type="submit" [disabled]="!listItemForm.valid" mat-button color="primary">Tallenna</button>
      <button type="button" mat-button color="accent" (click)="close()">Sulje</button>
    </div>
  </form>
