/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.mat-autocomplete-panel {
  max-height: 150px !important;
  min-height: 0px !important;
  max-width: 75% !important;
}
