<div class="container">
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
  <app-bottom-menu 
    [active]="selected"
    (firstClicked)="navigateToItems()" 
    (secondClicked)="navigateToLists()" 
    (thirdClicked)="navigateToRecipes()"
    (fourthClicked)="navigateToUser()">
  </app-bottom-menu>
</div>
