.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
}
.content-container {
  padding-top: 56px;
  padding-bottom: 56px;
  user-select: none;
}